@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
// @import url(https://fonts.googleapis.com/css?family=Rubik+Microbe:regular);
// @import url(https://fonts.googleapis.com/css?family=Clicker+Script:regular);
// @import url(https://fonts.googleapis.com/css?family=Amatic+SC:regular,700);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script:regular);

// =======================================================reset
* {
  padding: 0;
  margin: 0;
  border: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  overflow-x: hidden;
  font-family: "Roboto";
  font-style: normal;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  // color: var(--skin-color);
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--bg-black-100);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--skin-color);
  border-radius: 10px;
}

// =======================================================/reset
:root {
  --bg-black-900: rgba(61, 44, 44, 0.5);
  ;
  --bg-black-100: rgba(61, 44, 44, 0.5);
  ;
  --bg-black-50: #e8dfec;
  --text-black-900: #0a112b;
  --text-black-700: #ff9d9d;

  --skin-color: #FFFFFF;
}

html.rain {
  // --bg-black-900: #6FB98F;
  // --skin-color: #021C1E;
  // body{
  //   background: ;
  // }
}

html.theme1 {
  --bg-black-900: ;
  --bg-black-100: #332e59;
  --bg-black-50: #e8dfec;
  --text-black-900: #ffffff;
  --text-black-700: #c8c8c8;

  --skin-color: #fe423f;

  body {
    background: #26294c;
  }
}

body {
  background: linear-gradient(151deg, #3a7390 0%, rgb(226 12 58) 100%);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    -webkit-clip-path: circle(10% at right 9% top 42%);
    clip-path: circle(10% at right 9% top 42%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(16% at 11% 14%);
    -webkit-clip-path: circle(16% at 16% 10%);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  // margin-left: -15px;
  // margin-right: -15px;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: #FFFFFF;
  display: inline-block;
  white-space: nowrap;
  background: var(--skin-color);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  margin: 10px 15px 10px 0;
}

.btn:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
  padding-bottom: 40px;
}

h1 {
  font-size: 46px;
  color: var(--text-black-900);
  font-weight: 700;

}

h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
  display: block;
  margin-bottom: 60px;

  &::before {
    content: '';
    height: 4px;
    width: 50px;
    position: absolute;
    background: var(--skin-color);
    top: 100%;
    left: 0;
  }

  &::after {
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
    background: var(--skin-color);
    top: 100%;
    left: 0;
    margin-top: 8px;
  }
}

h3 {
  font-size: 28px;
  margin: 15px 0;
  color: var(--text-black-900);
}

h4 {
  font-size: 22px;
  display: inline-block;
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  text-transform: capitalize;
}

h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
}

p {
  font-size: 16px;
  color: var(--text-black-700);
  line-height: 25px;
  margin-bottom: 15px;
}

.main-container {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;

}

.main-content {
  position: relative;
  // margin: 0 0 0 270px;
  width: 100%;
  transform-style: preserve-3d;
}

.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  height: 100%;
  display: block;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  z-index: 0;
  opacity: 0;
  padding: 20px 20px;
  overflow-y: auto;
  overflow-x: hidden;
  backdrop-filter: blur(20px);


  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &.show{
    z-index: 2;opacity: 1;
  }
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
}

.hire-me {
  color: #FFFFFF;
}

.buttons {
  margin: 30px 0;
  padding: 0 10px;

  a {
    color: #FFFFFF;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

// .cover-menu {
//   position: absolute;
//   top: 0%;
//   right: 0%;
//   width: 60px;
//   height: 60px;
//   z-index: 100;
//   background: red;
//   cursor: pointer;
//   display: flex;
//   justify-content: center;
//   align-items: center;

// }

.menu {
  position: absolute;
  top: 10px;
  right: 0;
  width: 140px;
  height: 140px;
  // background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.toggle {
  position: relative;
  width: 30px;
  height: 30px;
  background: #ffa09f78;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--skin-color);
  cursor: pointer;
  font-size: 24px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;


}

.toggle i {
  pointer-events: none;
}

.menu.active .toggle {
  pointer-events: none;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #333, 0 0 0 8px #FFFFFF;
  transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -o-transform: rotate(300deg);

}

.menu p {
  position: absolute;
  left: 0;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transform-origin: 70px;
  transform: rotate(calc(360deg/8 * var(--i)));
  -webkit-transform: rotate(calc(360deg/8 * var(--i)));
  -moz-transform: rotate(calc(360deg/8 * var(--i)));
  -ms-transform: rotate(calc(360deg/8 * var(--i)));
  -o-transform: rotate(calc(360deg/8 * var(--i)));
  scale: 0;
  transition-delay: calc(0.05s * var(--i));
  margin: 0;
}

.menu p a {
  position: relative;
  display: flex;
  transform: rotate(calc(360deg/-8 * var(--i)));
  -webkit-transform: rotate(calc(360deg/-8 * var(--i)));
  -moz-transform: rotate(calc(360deg/-8 * var(--i)));
  -ms-transform: rotate(calc(360deg/-8 * var(--i)));
  -o-transform: rotate(calc(360deg/-8 * var(--i)));
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  justify-content: center;
  align-items: center;
  color: var(--clr);
  font-size: 18px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.menu.active p {
  scale: 1;
}


// =======================================================aside
.aside {
  width: 270px;
  height: 100vh;
  background: var(--bg-black-100);
  // backdrop-filter: blur(50px);
  position: fixed;
  // left: 0;
  top: 0;
  // z-index: 10;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-right: 1px solid var(--bg-black-50);

  .logo {
    white-space: nowrap;
    position: relative;
    top: 30px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    // text-transform: capitalize;

    a {
      color: var(--text-black-900);
      padding: 15px 20px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 5px;
      display: block;
      width: 100%;
      letter-spacing: 3px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-bottom: 5px solid var(--skin-color);
        border-left: 5px solid var(--skin-color);
        bottom: 0;
        left: 0;
      }

      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-top: 5px solid var(--skin-color);
        border-right: 5px solid var(--skin-color);
        top: 0;
        right: 0;
      }
    }

    span {
      font-size: 24px;
    }
  }

  .nav-toggler {
    width: 40px;
    height: 40px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    background: var(--bg-black-100);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;

    span {
      height: 2px;
      width: 18px;
      display: inline-block;
      background: var(--skin-color);
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: -6px;
        left: 0;
        background: var(--skin-color);
      }

      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 6px;
        left: 0;
        background: var(--skin-color);
      }
    }
  }

  .nav {
    margin-top: 100px;
    width: 100%;

    p {
      display: block;

      a {
        font-size: 16px;
        font-weight: 600;
        display: block;
        border-bottom: 1px solid var(--bg-black-50);
        color: var(--text-black-900);
        padding: 5px 15px;
      }



      i {
        margin-right: 10px;
      }
    }

    p a.active {
      color: var(--skin-color);
    }
  }
}

// =======================================================/aside
// =======================================================home
.home {
  min-height: 100vh;
  display: flex;
  padding-top: 10%;
  color: var(--text-black-900);

  .home-info {
    width: 60%;

    p {
      margin-bottom: 70px;
      font-size: 20px;
      color: var(--text-black-700);
    }
  }

  .cover-img {
    width: 40%;
    position: relative;
    height: fit-content;

    &::before {
      content: '';
      position: absolute;
      height: 80px;
      width: 80px;
      border-bottom: 10px solid var(--skin-color);
      border-right: 10px solid var(--skin-color);
      right: 0px;
      bottom: -40px;
    }

    &::after {
      content: '';
      position: absolute;
      height: 80px;
      width: 80px;
      border-top: 10px solid var(--skin-color);
      border-left: 10px solid var(--skin-color);
      left: 0px;
      top: -40px;
    }
  }

  .home-img {
    // max-width: 40%;
    max-height: 400px;
    height: fit-content;
    padding: 0 40px;
    text-align: center;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      // height: 400px;
      max-height: none;
      width: 100%;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }


  }

  .hello {
    span {
      font-family: 'Kaushan Script';
      font-size: 30px;
      font-weight: 400;
    }
  }

  .typing,
  .name {
    color: var(--skin-color);
  }
}

// =======================================================/home
// =======================================================about
.about {
  a {
    color: var(--skin-color);
  }

  .about-content {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about-text {
    flex: 0 0 100%;
    max-width: 100%;

    span {
      color: var(--skin-color);
    }

    p {
      font-size: 16px;
      line-height: 25px;
      color: var(--text-black-700);
    }
  }

  .personal-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    ul {
      width: 63%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .buttons {
    width: 37%;
  }

  .buttons__item {
    text-align: center;
    width: 100%;

    a {
      color: #FFFFFF;
    }
  }

  .info-item {
    width: 48%;

    // &:nth-child(even) {
    //   padding-left: 10px;
    // }

    p {
      font-weight: 600;
      padding: 10px 0;
      font-size: 16px;
      color: var(--text-black-900);
      border-bottom: 1px solid var(--bg-black-50);
    }

    span {
      font-weight: 400;
      color: var(--text-black-700);
      margin-left: 5px;
      display: inline-block;
    }
  }

  .skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .skill-item {
    display: inline-block;
    //margin-bottom: 25px;
    width: fit-content;
    padding: 0px 20px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;

    &:hover {
      background: var(--skin-color);

      // h5 {
      //   color: #FFFFFF;
      // }
    }
  }

  .education,
  .experience {
    width: 50%;
    margin-top: 30px;
    padding: 5px;
  }

  .timeline-box {
    // flex: 0 0 100%;
    // max-width: 100%;
    width: 100%;
  }

  .timeline {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .timeline-item {
    position: relative;
    // background-color: rgba(255, 255, 255, 0.3);
    padding: 20px 10px 20px 30px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    // box-shadow: 0 -15px 15px rgb(255 255 255 / 5%), inset 0 -15px 15px rgb(255 255 255 / 5%), 0 15px 15px rgb(0 0 0 / 40%), inset 0 15px 15px rgb(0 0 0 / 40%);
    // backdrop-filter: blur(10px);


    &:hover {
      // box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
      // transform: scale(1.1);
      // -webkit-transform: scale(1.1);
      // -moz-transform: scale(1.1);
      // -ms-transform: scale(1.1);
      // -o-transform: scale(1.1);
      z-index: 2;
      // scale: 1.1;

    }

    &::before {
      content: '';
      width: 1px;
      position: absolute;
      height: 80%;
      left: 15px;
      top: 25px;

      background-color: var(--skin-color);
    }

    &::after {
      content: '';
      position: absolute;
      left: 8px;
      top: 25px;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: var(--skin-color);
    }

  }

  // .timeline-item:last-child {
  //   padding-bottom: 0;
  // }

  .timeline-item::before {}

  // .circle-dot {

  // }

  .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
  }



  .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);

  }

  .more__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .row {
      width: 100%;
    }
  }
}

// =======================================================/about
// =======================================================services
.service {
  .container {
    padding-bottom: 40px;
  }

  .service-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .service-item {
    // margin-bottom: 30px;
    width: 315px;
    position: relative;


  }

  .service-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 -15px 15px rgb(255 255 255 / 5%), inset 0 -15px 15px rgb(255 255 255 / 5%), 0 15px 15px rgb(0 0 0 / 40%), inset 0 15px 15px rgb(0 0 0 / 40%);

  }

  .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
  }

  .fa {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
  }

  .service-item-inner:hover {
    // box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    // transform: scale(1.1);
    // -webkit-transform: scale(1.1);
    // -moz-transform: scale(1.1);
    // -ms-transform: scale(1.1);
    // -o-transform: scale(1.1);
    // z-index: 2;

    .icon {
      background: var(--skin-color);
    }

    .fa {
      font-size: 25px;
      color: #FFFFFF;
    }
  }


}

// =======================================================/services
// =======================================================portdolio

.portfolio {
  transform-style: preserve-3d;

  .portfolio-heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }

  .portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }

  .portfolio-item {
    position: relative;
    width: 30%;
    height: fit-content;
    max-height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    // overflow: hidden;
    // background: #504e70;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transform-style: preserve-3d;

    &:hover {
      z-index: 101 !important;

      .portfolio-smollImg {
        transform-style: preserve-3d;
        transform: translate3d(0, 0, 75px);
        -webkit-transform: translate3d(0, 0, 75px);
        -moz-transform: translate3d(0, 0, 75px);
        -ms-transform: translate3d(0, 0, 75px);
        -o-transform: translate3d(0, 0, 75px);
      }
    }
  }

  .portfolio-smollImg {
    width: 30%;
    height: 55px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transform-style: preserve-3d;

    img {
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
  }

  .portfolio-item-inner {
    width: 100%;
    border: 5px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }

  .portfolio-img {
    width: 100%;
    height: fit-content;
    max-height: 200px;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 50px);
    -webkit-transform: translate3d(0, 0, 50px);
    -moz-transform: translate3d(0, 0, 50px);
    -ms-transform: translate3d(0, 0, 50px);
    -o-transform: translate3d(0, 0, 50px);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  a {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    max-height: none;
    // display: block;
  }
}

// =======================================================/portdolio
// =======================================================contact
.contact {
  a {
    color: var(--skin-color);
  }

  .contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
  }

  .contact-info {
    justify-content: space-evenly;
    gap: 10px;
  }

  .contact-info-item {
    width: 24%;
    text-align: center;
  }

  .icon {
    display: inline-block;
  }

  .fa {
    margin-left: 5px;
    font-size: 25px;
    color: var(--skin-color);
  }

  p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}



// =======================================================/contact


.hidden {
  display: none;
}

@media (max-width:1024px) {
  .main-content {
    margin: 0;
  }

  .aside {
    position: absolute;
    display: none;
  }

  .service {
    .service-content {
      gap: 10px;
    }

    .service-item {
      width: 30%;
    }
  }

  .portfolio {
    .portfolio-content {}

    // .portfolio-item {
    //   width: 30%;
    // }

    // .portfolio-smollImg {
    //   width: 30%;
    // }
  }

  .contact {
    .contact-info-item {
      width: 30%;
    }
  }
}

@media (max-width:768px) {
  .section {
    padding: 20px 10px;
  }

  .home {
    padding-top: 5%;

    .row {
      justify-content: end;
    }

    .home-info {
      width: 100%;
    }

    .cover-img {
      width: 50%;
    }
  }

  .about {
    .buttons {
      width: 100%;
    }

    .buttons__item {
      text-align: end;
    }

    .personal-info {
      ul {
        width: 100%;
      }
    }
  }

  .service {
    .service-content {
      gap: 10px;
    }

    .service-item {
      width: 48%;
    }
  }

  .portfolio {
    .portfolio-content {}

    .portfolio-item {
      width: 47%;
    }

    .portfolio-smollImg {
      width: 30%;
    }
  }
}


@media (max-width:500px) {
  .home {
    .cover-img {
      width: 100%;
      margin-top: 50px;
    }

    .home-info {
      p {
        margin-bottom: 20px;
      }
    }
  }

  .about {
    .more__info {}

    .education,
    .experience {
      width: 100%;
    }

    .skills {
      justify-content: center;
    }

    .info-item {
      width: 100%;
    }
  }

  .service {

    .service-item {
      width: 100%;
    }
  }

  .portfolio {

    .portfolio-item {
      width: 100%;
    }
  }

  .contact {
    .contact-info-item {
      width: 48%;
    }
  }
}